#second-div p:nth-of-type(odd) {
    color: red;
}

#second-div p:nth-of-type(even) {
    color: blue;
}

body>div>p:nth-child(n+1)::after {
    content: "New";
    color: yellow;
}

body>p:last-child:hover {
    font-style: italic;
}