Html,
body {
    background-color: white;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    
       
}

h1 {
    color: grey;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;

}

.galerie {
    display:grid;
    grid-template-columns:  auto auto auto auto auto;
    row-gap:2rem;
    column-gap: 2rem;
    align-items: center;
   
    
  
}

.poza {
    width: 160px;
    align-content: center;
    background-color: #e4dedebb;
    border-radius: 7px;
    
}

.poza img {
    width: 160px;
    background-color: #8fbcf0;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
   }

.poza p {
    margin: 0.4px;
    border-radius: 7px;
    font-size: 13px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .galerie {
    grid-template-columns: repeat(5, 1fr);
    
    }
    .galerie2 {
        font-size: 20px;
        
    }
    
    }
     
    @media screen and (max-width: 768px) {
    .galerie {
    grid-template-columns: repeat(3, 1fr);
    }
    .galerie2 {
        font-size: 15px;
    }
}
    
     
    @media screen and (max-width: 414px) {
    .galerie {
    grid-template-columns: repeat(1, 1fr);
    
      }
    .galerie2 {
        font-size: 10px;
    }
    
}
